<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/XLSX" version="1.0.0" viewmodes="maximized">
    <tizen:application id="es2v8mXOut.XLSX" package="es2v8mXOut" required_version="2.2"/>
    <content src="index.html"/>
    <icon src="icon.png"/>
    <name>XLSX</name>
</widget>
